<div class="basket-container">
  <div class="title-container2">
    <h3>Мой заказ</h3>
    <h2>Товары 2 на сумму 740 р.</h2>
  </div>

  <div class="dish-container">
    <div class="dish">
      <img src="../assets/images/menu/lagman.png" alt="Каурма Лагман" />
      <div class="dish-content">
        <div class="dish-content-top">
          <span class="title-dish">Каурма Лагман, 150г</span>
          <span class="price-actual">420р</span>
        </div>

        <div class="dish-content-bottom">
          <div class="price">
            <span class="price-discount">330 р.</span>
            <span class="price-old">420 р.</span>
          </div>

          <div class="buttons-counter">
            <button type="button" class="btn-counter" aria-label="Уменьшить">
              <i class="bi bi-dash-square"></i>
            </button>
            <span class="quantity-dish">3</span>
            <button type="button" class="btn-counter" aria-label="Увеличить">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="dish">
      <img src="../assets/images/menu/shorpa.png" alt="Shorpa" />
      <div class="dish-content">
        <div class="dish-content-top">
          <span class="title-dish">Шорпа, 200г</span>
          <span class="price-actual">390р</span>
        </div>

        <div class="dish-content-bottom">
          <div class="price-now">
            <span class="price-discount">390 р.</span>
          </div>

          <div class="buttons-counter">
            <button type="button" class="btn-counter" aria-label="Уменьшить">
              <i class="bi bi-dash-square"></i>
            </button>
            <span class="quantity-dish">3</span>
            <button type="button" class="btn-counter" aria-label="Увеличить">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="dish">
      <img src="../assets/images/menu/shorpa.png" alt="Shorpa" />
      <div class="dish-content">
        <div class="dish-content-top">
          <span class="title-dish">Шорпа, 200г</span>
          <span class="price-actual">390р</span>
        </div>

        <div class="dish-content-bottom">
          <div class="price-now">
            <span class="price-discount">390 р.</span>
          </div>

          <div class="buttons-counter">
            <button type="button" class="btn-counter" aria-label="Уменьшить">
              <i class="bi bi-dash-square"></i>
            </button>
            <span class="quantity-dish">3</span>
            <button type="button" class="btn-counter" aria-label="Увеличить">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="dish">
      <img src="../assets/images/menu/shorpa.png" alt="Shorpa" />
      <div class="dish-content">
        <div class="dish-content-top">
          <span class="title-dish">Шорпа, 200г</span>
          <span class="price-actual">390р</span>
        </div>

        <div class="dish-content-bottom">
          <div class="price-now">
            <span class="price-discount">390 р.</span>
          </div>

          <div class="buttons-counter">
            <button type="button" class="btn-counter" aria-label="Уменьшить">
              <i class="bi bi-dash-square"></i>
            </button>
            <span class="quantity-dish">3</span>
            <button type="button" class="btn-counter" aria-label="Увеличить">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="dish">
      <img src="../assets/images/menu/shorpa.png" alt="Shorpa" />
      <div class="dish-content">
        <div class="dish-content-top">
          <span class="title-dish">Шорпа, 200г</span>
          <span class="price-actual">390р</span>
        </div>

        <div class="dish-content-bottom">
          <div class="price-now">
            <span class="price-discount">390 р.</span>
          </div>

          <div class="buttons-counter">
            <button type="button" class="btn-counter" aria-label="Уменьшить">
              <i class="bi bi-dash-square"></i>
            </button>
            <span class="quantity-dish">3</span>
            <button type="button" class="btn-counter" aria-label="Увеличить">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="dish">
      <img src="../assets/images/menu/shorpa.png" alt="Shorpa" />
      <div class="dish-content">
        <div class="dish-content-top">
          <span class="title-dish">Шорпа, 200г</span>
          <span class="price-actual">390р</span>
        </div>

        <div class="dish-content-bottom">
          <div class="price-now">
            <span class="price-discount">390 р.</span>
          </div>

          <div class="buttons-counter">
            <button type="button" class="btn-counter" aria-label="Уменьшить">
              <i class="bi bi-dash-square"></i>
            </button>
            <span class="quantity-dish">3</span>
            <button type="button" class="btn-counter" aria-label="Увеличить">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="promo">
      <img src="../assets/images/promo.png" alt="Promo" />
    </div>
  </div>
</div>

<!-- <div class="footer">
  <div class="footer-btn">
    <a ></a>
    <span>Покажите официанту</span>
  </div>
</div> -->

<div class="footer">
  <div class="footer-btn">
    <a
      [routerLink]="['/']"
    >
      Назад в Меню
    </a>
  </div>
</div>
