<div [class]="isShowAlert ? 'pointer-events-none' : null">
  <div class="cart-container">
    <div class="title-container">
      <div class="title-and-icon-container">
        <i class="bi bi-arrow-left" (click)="goHomePage()"></i>
        <h3>Мой заказ</h3>
        @if (state.getQuantityDishesInCart() > 0) {
          <i class="bi bi-trash" (click)="isShowAlert = !isShowAlert"></i>
        } @else {
          <p></p>
        }
      </div>
      <h2>
        Товары {{ state.getQuantityDishesInCart() }} на сумму
        {{ state.getTotalPriceCart() }} р.
      </h2>
    </div>

    <div class="dish-container">
      @for (dish of cartList(); track dish.id) {
        @if (dish.quantityInCart > 0) {
          <div class="dish">
            <img
              src="../assets/images/menu/{{ dish.imgSrc }}.png"
              alt="Каурма Лагман"
            />
            <div class="dish-content">
              <div class="dish-content-top">
                <span class="title-dish"
                  >{{ dish.title }}, {{ dish.weight }}г</span
                >
                <span class="price-actual">{{ dish.price }}р</span>
              </div>

              <div class="dish-content-bottom">
                @if (dish.discount > 0) {
                  <div class="price">
                    <span class="price-discount"
                      >{{
                        state.getDiscountPrice(dish) * dish.quantityInCart
                      }}
                      р.</span
                    >
                    <span class="price-old">{{ dish.price }} р.</span>
                  </div>
                } @else {
                  <div class="price-now">
                    <span>{{ dish.price * dish.quantityInCart }} р.</span>
                  </div>
                }

                <div class="buttons-counter">
                  <button
                    type="button"
                    class="btn-counter"
                    aria-label="Уменьшить"
                    (click)="removeDishInCart(dish)"
                  >
                    <i class="bi bi-dash-square"></i>
                  </button>
                  <span class="quantity-dish">{{ dish.quantityInCart }}</span>
                  <button
                    type="button"
                    class="btn-counter"
                    aria-label="Увеличить"
                    (click)="addDishInCart(dish)"
                  >
                    <i class="bi bi-plus-square"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <hr />
        }
      }

      <div class="promo">
        <img src="../assets/images/promo.png" alt="Promo" />
      </div>
    </div>

    <div class="footer">
      <div class="footer-text">
        <span>Покажите заказ официанту</span>
      </div>
    </div>
  </div>
</div>

@if (isShowAlert) {
  <div class="alert-container">
    <h3>Вы уверены?</h3>
    <div class="btn-group">
      <button class="footer-btn" (click)="clearCart()">Да</button>
      <p></p>
      <button class="footer-btn" (click)="isShowAlert = !isShowAlert">
        Нет
      </button>
    </div>
  </div>
}
