@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body{
  margin: 0;
  padding: 0;
  // background-image: url('./assets/images/back.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif, 'Roboto', Arial, ;
}
