$primary-color: rgb(244, 121, 32);
$color-text-title: rgb(48, 48, 48);
$color-bg-transparent: rgba(255, 255, 255, 0.648);
$gradient-color: linear-gradient(180deg, rgba(250, 106, 2, 1.0),
    rgba(242, 138, 63, 1.0));